<!-- header -->
{{> adminheader }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
    {{> admintopnav }} 
  <div class="content-wrapper">
    <div class="container">
      <div class="alert alert-secondary text-center">
        <h1 class="">Welcome to an Admin panel</h1>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
  </div>
    {{> adminfooter}}