<!-- header -->
{{> adminheader }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
    {{> admintopnav }} 

  <div class="content-wrapper">
    {{{body}}}
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    {{> adminfooter}}
  </div>  
</body>
</html>