<!-- header -->
{{> adminheader }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
    {{> admintopnav }} 

  <div class="content-wrapper">

    {{> adminbody }}
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
  </div>
    {{> adminfooter}}