<!-- Header-->
{{> header }}
  <body>
    <!-- NAvigation bar-->
    {{> navbar }}

    <!-- Page Content -->
    <div class="container">
              
      {{> index}}
    </div>
    <!-- /.container -->

    {{>footer}}

  