 <!-- header -->
{{> adminheader }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
    {{> admintopnav }} 
    {{> messages}}
  <div class="content-wrapper">
    {{> adminbody }}
    <h1>All posts</h1>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
  </div>
    {{> adminfooter}}